body{
  background-color: brown;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 500px;
  gap: 10px;
  width: 300px;
  overflow: hidden;
  flex-wrap: nowrap;
  border: solid 4px black;
  overflow-x: scroll;
}
.box{
  background-color: honeydew;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: solid 2px yellow;
}