.container{
  max-width: 1136px;
  margin: auto;
  padding: 20px;
  font-family: 'Trip Sans Medium', arial, sans-serif;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 50px;
}
.menu{
display: flex;
align-items: center;
justify-content: space-between;

}
.menu_links{
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.menu_links:hover{
  border-radius: 20px;
  background-color: lightgray;
}
.menu_profile:hover{
  opacity: 0.9;
}
.menu_links i {
  margin-right: 6px;
  font-size: 20px;
}
.logo{
  max-width: 188px;
} 
.avatar{
  border-radius: 50%;
  max-width: 40px;
}


.top_section h1{
  font-size: 60px;

}
.top_section span {
  color: #FF5D5D;
}
.top_section p{
  font-family: "Trip Sans Regular", arial, sans-serif;
}
.title p{
  color: #333333;
  font-size: 14px;
  margin: 20px 0px 30px 0px;
}
.title a {
  color: #333333;
}
.categories{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}
.category_links{
  border: solid 1px black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  min-width: 15%;
  max-width: 17%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.category_links i {
  margin-left: 10px;
}
.categories :hover{
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}
.top_section_images{
  display: flex;
 height: 400px;
 gap: 2px;
 margin-top: 50px;
}
.pictures_1{
  flex: 4;
  background-image: url(../img/caption.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;}
  

.pictures_2{
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;

}
.mini-picture{
  background-image: url(../img/baie_halong.jpg);
  flex: 1;
  background-size: cover;
  background-position: center;
}
.mini-picture-2{
  background-image: url(../img/lake_water.jpg);
  flex: 1;
  background-size: cover;
  background-position: center;
}

.top_section_images :hover{
opacity: 0.9;
transition: all 0.3s ease;
}

.caption_pictures_top{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 45px 0px;
  padding: 4px;
}
.caption_pic_link{
  display: flex;
  
}
.caption_pictures_top a, p{
  text-decoration: none;
  color: #333333;
  font-size: 12px;
  font-family: "Trip Sans Regular";
  margin-right: 8px;
}
.top_section article {
  max-width: 50%;
}
.top_section article h2 {
  font-size: 28px;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 20px;
}
.top_section article p {
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  font-family: Georgia, arial, sans-serif;
  margin-bottom: 30px;
}
.middle_section h3 {
  font-size: 28px;
  margin-bottom: 30px;
  
}
.descriptions{
  max-width: 24%;
}
.descriptions p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 25px;
  color: #333333;
}

.carroussels{
  display: flex;
  justify-content: space-between;
}

.carroussels h3 {
  font-size: 24px;
  font-family: "Trip Sans Regular", sans-serif;
}
.carroussels p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333333;
  font-size: 18px;
  margin-bottom: 20px;
}
.carroussels a {color: #333333;
}
.options {
  margin-bottom: 50px;
}

.options :hover {
  opacity: 0.9;
  transition: all 0.3s ease;
}
.options p {
font-size: 14px;
font-family: "Trip Sans Regular", sans-serif;
}
.options a {
  text-decoration: none;
}

.options h4 {
  font-size: 18px;
  color: black;
  font-family: "Trip Sans Medium";
}
.rating{
  margin: 5px 0px;
  font-size: 12px;
  color: #00aa6c;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.option_container {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  max-width:64% ;
  flex-wrap: nowrap;
}
.illustration{
  background-color: red;
  flex: 1;
  width: 226px;
height: 170px;
margin-bottom: 10px;
position: relative;
}
.old-quarter{
  background-image: url(../img/old-quarter.jpg);
  background-size: cover;
  background-position: center;
}
.hoan-kiem{
  background-image: url(../img/lac_hanoi.jpg);
  background-size: cover;
  background-position: center;
}
.train-street{
  background-image: url(../img/hanoi_railway.jpg);
  background-size: cover;
  background-position: center;
}
.prison-hoalo{
  background-image: url(../img/prisonhoaloa.jpg);
  background-size: cover;
  background-position: center;
}
.opera-house {
  background-image: url(../img/hanoi-opera-house.jpg);
  background-size: cover;
  background-position: center;
}
.temple-hanoi{
  background-image: url(../img/carroussel1-1.jpg);
  background-size: cover;
  background-position: center;
}
.metropole{
  background-image: url(../img/hotel1.jpg);
  background-size: cover;
  background-position: center;
}
.Ma-may{
  background-image: url(../img/hostel_hanoi.jpg);
  background-size: cover;
  background-position: center;
}
.boutique-hotel{
  background-image: url(../img/room_hanoi.jpg);
  background-size: cover;
  background-position: center;
}

.hotel-4{
  background-image: url(../img/hotel-4.jpg);
  background-size: cover;
  background-position: center;}
.hotel-5{
  background-image: url(../img/hotel5.jpg);
  background-size: cover;
  background-position: center;}
.hotel-6{
  background-image: url(../img/hotel6.jpg);
  background-size: cover;
  background-position: center;
}
.bun-cha{
  background-image: url(../img/bun_cha_hanoi.jpg);
  background-size: cover;
  background-position: center;
}
.giang-cafe{
  background-image: url(../img/unassuming-spot.jpg);
  background-size: cover;
  background-position: center;
}
.meal-3{
  background-image: url(../img/vietnamese_meal.jpg);
  background-size: cover;
  background-position: center;
}
.meal-4{
  background-image: url(../img/meal4.jpg);
  background-size: cover;
  background-position: center;
}
.meal-5{
  background-image: url(../img/meal5.jpg);
  background-size: cover;
  background-position: center;
}
.meal-6{
  background-image: url(../img/meal6.jpg);
  background-size: cover;
  background-position: center;
}
.meal-7{
  background-image: url(../img/meal7.jpg);
  background-size: cover;
  background-position: center;
}
.meal-8{
  background-image: url(../img/meal8.jpg);
  background-size: cover;
  background-position: center;
}
.meal-9{
  background-image: url(../img/meal9.jpg);
  background-size: cover;
  background-position: center;
}
.owl{
  width: 45px;
  height: 45px;
  position: absolute ;
  bottom: 0;
  left: 0;
  padding: 5px;
}
.heart{
  background-color: white ;
  border-radius: 50%;
  color: black;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}
footer{
  background-color: #faf1ec;
  padding: 30px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.footer img{
  width: 50px;
  margin-right: 20px;
}
.footer a {
  text-decoration: none;
  color: black;
  font-family: "Trip Sans Medium";
  font-size: 18px;
}
.footer p {
  font-size: 18px;
}
.nav-button{
  display: none;
}
.block{
  display: none;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .hidden{
   display: none;
  }
  .nav-button{
    display: block;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Trip Sans Regular", sans-serif;
    font-size: 16px;  
  }
  .logo{
   
    max-width: 250px;
  }
  .block {
    display: block;
    position: relative;
  }
  .block i {
    position: absolute;
top: 13px;
right: 16px;    
  }
  .categories{
    flex-wrap: wrap;
    justify-content: initial;
    gap: 6px;
  }
  .category_links{
    min-width: 24%; 
    
  }
  .top_section article{
    max-width: 98%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  .option_container{
    max-width: 67%;
  }
}

